*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
}

img{
    position: absolute;
    width: 150px;
}

#container{
    position: relative;
    width: 700px;
    margin: auto;
    /* background-color: red; */
    height: 400px;
}

.drummer{
    position: absolute;
    left: 0;
    right: 0;
    width: 200px;
    bottom: 0;
    margin: auto;
}

.drumsets{
    position: absolute;
    width: 100%;
    height: 100%;
}

img[alt="drum"]{
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}

img[alt="snare drum"]{
    left: 160px;
    bottom: 0;
}

img[alt="tom tom"]{
    right: 160px;
    bottom: 0;
}

img[alt="crash cymbals"]{
    left: 170px;
    bottom: 80px;
    transform: rotate(30deg);
}

img[alt="ride cymbals"]{
    width: 200px;
    right: 140px;
    bottom: 20px;
}
.clicked-img{
    transform: scale(1.1);
}